# Group 13 Project Proposal

In [1]:
pip install -U altair

Requirement already satisfied: altair in /opt/conda/lib/python3.10/site-packages (5.2.0)
Requirement already satisfied: typing-extensions>=4.0.1 in /opt/conda/lib/python3.10/site-packages (from altair) (4.4.0)
Requirement already satisfied: pandas>=0.25 in /opt/conda/lib/python3.10/site-packages (from altair) (1.5.3)
Requirement already satisfied: packaging in /opt/conda/lib/python3.10/site-packages (from altair) (23.0)
Requirement already satisfied: toolz in /opt/conda/lib/python3.10/site-packages (from altair) (0.12.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (from altair) (1.23.5)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.10/site-packages (from altair) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /opt/conda/lib/python3.10/site-packages (from altair) (4.17.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /opt/conda/lib/python3.10/site-packages (from jsonschema>=3.0->altair) (0.19.3)
Requirement already satisfied: attrs>=17.4.0 in /opt/conda/lib/python3.10/site-packages (from jsonschema>=3.0->altair) (22.2.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=0.25->altair) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas>=0.25->altair) (2022.7.1)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from jinja2->altair) (2.1.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas>=0.25->altair) (1.16.0)
Note: you may need to restart the kernel to use updated packages.


**Title: Credit Score Classification**

https://www.kaggle.com/datasets/parisrohan/credit-score-classification/data 


**Introduction:**
A credit report is a summary of a person’s credit history and is created when you borrow money or apply for a credit card. A credit score is a 3 digit number calculated based on your credit report that summarizes how well you manage your credit and how risky it would be for someone to lend you money. The higher credit score the better your rating is.


A credit score is calculated based on a few different factors such as:
- a person's anual income
- the number of credit cards they have
- the number of loans they have
- their credit card payment history
- how old their credit is
and more




**The Question we aim to answer:** Can we classify someone’s credit score based on certain banking history and financial traits (shown above)?

**Dataset description:** The dataset contains the bank and credit-related information of many individuals that have been amassed by a global finance company. It contains 27 columns of these information such as bank account history, loans, debt and EMI along with the number of credit cards a person has and their credit card payment history

In [2]:
import random
import altair as alt
import pandas as pd
import numpy as np
from sklearn import set_config
from sklearn.compose import make_column_transformer
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler

### Reading the data from a URL

In [3]:
url_train = "https://raw.githubusercontent.com/vedika37/dsci100-proj/main/train.csv"
url_test = "https://raw.githubusercontent.com/vedika37/dsci100-proj/main/test.csv"
train = pd.read_csv(url_train,sep = ",", low_memory=False)
test = pd.read_csv(url_test,sep = ",", low_memory=False)

### Cleaning Training Data

In [4]:
# dropping null values and columns not used in analysis

# Predictors:

# - number of delayed payments 
# - delay from due date 
# - Credit_Utilization_Ratio
# - credit mix
# - credit history age



train = train[['Delay_from_due_date', 'Num_of_Delayed_Payment', 'Credit_Mix', 'Credit_Utilization_Ratio','Credit_History_Age','Credit_Score']]
train = train.dropna()
train

,Delay_from_due_date,Num_of_Delayed_Payment,Credit_Mix,Credit_Utilization_Ratio,Credit_History_Age,Credit_Score
0,3,7,_,26.822620,22 Years and 1 Months,Good
2,3,7,Good,28.609352,22 Years and 3 Months,Good
3,5,4,Good,31.377862,22 Years and 4 Months,Good
5,8,4,Good,27.262259,22 Years and 6 Months,Good
6,3,8_,Good,22.537593,22 Years and 7 Months,Good
...,...,...,...,...,...,...
99994,20,6,_,39.323569,31 Years and 5 Months,Poor
99995,23,7,_,34.663572,31 Years and 6 Months,Poor
99996,18,7,_,40.565631,31 Years and 7 Months,Poor
99997,27,6,Good,41.255522,31 Years and 8 Months,Poor
99999,18,6,Good,34.192463,31 Years and 10 Months,Poor

In [5]:
train["Credit_Mix"].unique()
train["Credit_Score"].unique()

array(['Good', 'Standard', 'Poor'], dtype=object)

In [6]:
# deleting garbage values
train = train[train["Credit_Mix"] != "_"]
train

,Delay_from_due_date,Num_of_Delayed_Payment,Credit_Mix,Credit_Utilization_Ratio,Credit_History_Age,Credit_Score
2,3,7,Good,28.609352,22 Years and 3 Months,Good
3,5,4,Good,31.377862,22 Years and 4 Months,Good
5,8,4,Good,27.262259,22 Years and 6 Months,Good
6,3,8_,Good,22.537593,22 Years and 7 Months,Good
8,3,4,Good,24.464031,26 Years and 7 Months,Standard
...,...,...,...,...,...,...
99986,33,25,Bad,24.713861,5 Years and 10 Months,Poor
99989,33,25,Bad,33.359987,6 Years and 1 Months,Standard
99991,33,25,Bad,37.140784,6 Years and 3 Months,Standard
99997,27,6,Good,41.255522,31 Years and 8 Months,Poor
99999,18,6,Good,34.192463,31 Years and 10 Months,Poor

In [7]:
train = train[train['Num_of_Delayed_Payment'].str.isdigit()]
train

,Delay_from_due_date,Num_of_Delayed_Payment,Credit_Mix,Credit_Utilization_Ratio,Credit_History_Age,Credit_Score
2,3,7,Good,28.609352,22 Years and 3 Months,Good
3,5,4,Good,31.377862,22 Years and 4 Months,Good
5,8,4,Good,27.262259,22 Years and 6 Months,Good
8,3,4,Good,24.464031,26 Years and 7 Months,Standard
9,7,1,Good,38.550848,26 Years and 8 Months,Good
...,...,...,...,...,...,...
99986,33,25,Bad,24.713861,5 Years and 10 Months,Poor
99989,33,25,Bad,33.359987,6 Years and 1 Months,Standard
99991,33,25,Bad,37.140784,6 Years and 3 Months,Standard
99997,27,6,Good,41.255522,31 Years and 8 Months,Poor
99999,18,6,Good,34.192463,31 Years and 10 Months,Poor

In [8]:
train= train.astype({'Num_of_Delayed_Payment': int})
train

,Delay_from_due_date,Num_of_Delayed_Payment,Credit_Mix,Credit_Utilization_Ratio,Credit_History_Age,Credit_Score
2,3,7,Good,28.609352,22 Years and 3 Months,Good
3,5,4,Good,31.377862,22 Years and 4 Months,Good
5,8,4,Good,27.262259,22 Years and 6 Months,Good
8,3,4,Good,24.464031,26 Years and 7 Months,Standard
9,7,1,Good,38.550848,26 Years and 8 Months,Good
...,...,...,...,...,...,...
99986,33,25,Bad,24.713861,5 Years and 10 Months,Poor
99989,33,25,Bad,33.359987,6 Years and 1 Months,Standard
99991,33,25,Bad,37.140784,6 Years and 3 Months,Standard
99997,27,6,Good,41.255522,31 Years and 8 Months,Poor
99999,18,6,Good,34.192463,31 Years and 10 Months,Poor

### Cleaning Testing Data

In [9]:
# dropping null values and columns not used in analysis
test = test[['Delay_from_due_date', 'Num_of_Delayed_Payment', 'Credit_Mix', 'Credit_Utilization_Ratio','Credit_History_Age']]
test = test.dropna()
test

,Delay_from_due_date,Num_of_Delayed_Payment,Credit_Mix,Credit_Utilization_Ratio,Credit_History_Age
0,3,7,Good,35.030402,22 Years and 9 Months
1,3,9,Good,33.053114,22 Years and 10 Months
3,4,5,Good,32.430559,23 Years and 0 Months
4,3,1,Good,25.926822,27 Years and 3 Months
5,3,3,Good,30.116600,27 Years and 4 Months
...,...,...,...,...,...
49993,33,25,Bad,37.528511,6 Years and 5 Months
49994,33,22,Bad,27.027812,6 Years and 6 Months
49997,23,5,Good,36.858542,32 Years and 0 Months
49998,21,6_,Good,39.139840,32 Years and 1 Months
49999,22,5,_,34.108530,32 Years and 2 Months

In [10]:
test['Credit_Mix'].unique()

array(['Good', '_', 'Standard', 'Bad'], dtype=object)

In [11]:
test = test[test["Credit_Mix"] != "_"]
test['Credit_Mix'].unique()

array(['Good', 'Standard', 'Bad'], dtype=object)

In [12]:
test = test[test['Num_of_Delayed_Payment'].str.isdigit()]
test= test.astype({'Num_of_Delayed_Payment': int})
test

,Delay_from_due_date,Num_of_Delayed_Payment,Credit_Mix,Credit_Utilization_Ratio,Credit_History_Age
0,3,7,Good,35.030402,22 Years and 9 Months
1,3,9,Good,33.053114,22 Years and 10 Months
3,4,5,Good,32.430559,23 Years and 0 Months
4,3,1,Good,25.926822,27 Years and 3 Months
5,3,3,Good,30.116600,27 Years and 4 Months
...,...,...,...,...,...
49990,7,12,Good,25.708414,30 Years and 7 Months
49992,33,25,Bad,32.391288,6 Years and 4 Months
49993,33,25,Bad,37.528511,6 Years and 5 Months
49994,33,22,Bad,27.027812,6 Years and 6 Months
49997,23,5,Good,36.858542,32 Years and 0 Months

In [14]:
test['Num_of_Delayed_Payment'].unique()

array([   7,    9,    5,    1,    3, 1942,    6,   18,    0,   17,   15,
         14,   12,    8,   19,    2,   10,   11, 1150,   23,   21,   13,
       2077,   16,   20,    4,   24,   27,   22,  429, 2806,   25, 2849,
       2465, 4246, 1186,   75,   26, 4318, 4219,   28, 1591, 3552,  420,
       2606,  186,  959, 1122, 3178, 1884, 3398, 1486, 4128,  351,  861,
        873, 3948, 2801, 3627, 3825, 3954,  376, 2354, 4343, 2279, 1958,
       2608, 1274,  452,  845, 3097, 2161,  377, 1544, 4136, 2412, 3429,
        211,  518,  657, 3477,  370, 1234, 1534, 1080, 3057, 2819, 1329,
       3689, 2273, 2403, 1266, 3684, 1802,  181, 3591, 2912, 1356, 1117,
       2672, 2001, 4298,  590, 1095,  100, 1235, 3177, 2276, 2822, 1035,
        832, 2942, 2802, 4351, 3393, 3556,  288, 1146,  975, 2424,  265,
        179, 1513, 3071,  175,  700, 2836,  434, 2649, 2903, 1891, 2999,
        687, 1437, 3898, 4122, 2568, 4278, 1633, 2431,  538, 1570, 1297,
        414, 2352, 4044,  773, 1632, 2492,  961,  952, 1571, 3863, 3853,
       1809, 1832, 3425, 2803, 1069,  750, 1959, 1990, 3708, 1166, 4011,
        226,  482,  599, 3379, 2018,  992, 3589,  292, 2767,  617, 2413,
       2259, 1085, 3744, 1223, 3520, 1014, 2392, 1750,  817,  297,  806,
       3161, 3945, 1630, 2902, 1904,  524, 1921, 4088, 2885, 2172, 1149,
       1542, 1309, 3803, 2464, 3064,  878, 4133, 2026, 2368, 2570, 3032,
        828, 4206, 1344, 1885,  238,  841, 1385, 3807, 1682, 1703,  909,
        688, 2348, 1410, 2401, 1664, 2388, 4214, 4026,  726, 2748,  820,
       2704, 2538,  929, 3535, 1265, 1968, 3630, 1290, 1833, 2123, 1888,
       1287,  502, 2595,  459, 1059,   69, 2407, 3642, 4270, 3608, 1289,
       2953, 3734, 3757, 2052, 4141,  883, 1751, 3794, 2410, 1514, 3058,
       3633, 4160,   60, 2208, 4265,  989, 3971, 3920,  762, 3390,  548,
        225, 2346,  204, 3273, 4313, 1889, 3622, 3124, 1779, 1619, 3406,
       3246, 3666, 3391, 1616, 2601, 3594,  272, 3313, 3637,  174, 3240,
       1970, 3913,  332, 2034])

### Summarizing Training Data

In [15]:
# each column along with its datatype
train.dtypes

Delay_from_due_date           int64
Num_of_Delayed_Payment        int64
Credit_Mix                   object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Credit_Score                 object
dtype: object

In [16]:
# generating descriptive statistics for numeric and 'object' type columns
train.describe()

       Delay_from_due_date  Num_of_Delayed_Payment  Credit_Utilization_Ratio
count         65084.000000            65084.000000              65084.000000
mean             21.166615               30.710205                 32.294107
std              14.865283              224.280037                  5.115086
min              -5.000000                0.000000                 20.172942
25%              10.000000                9.000000                 28.069226
50%              18.000000               14.000000                 32.313587
75%              28.000000               18.000000                 36.507653
max              67.000000             4397.000000                 50.000000

### Visualizing Data - Distribution of Predictor Variables

In [ ]:
# taking a subset of the data since the original is too big for charts
subset_train = tidy_train.iloc[:1000, :]
subset_train.head()

In [ ]:
# distribution of monthly salary
monthly_inhand_salary_distribution = alt.Chart(subset_train).mark_bar().encode(
    x =  alt.X("Monthly_Inhand_Salary", title = "Monthly Inhand Salary").bin(),
   y = alt.Y("count()")
)
monthly_inhand_salary_distribution

In [ ]:
# distribution of number of payment behaviour
payment_behaviour_distribution = alt.Chart(subset_train).mark_bar().encode(
   x = alt.X("count()"),
   y =  alt.Y("Payment_Behaviour").title("Payment Behaviour")
)
payment_behaviour_distribution

In [ ]:
# distribution of credit utilization ratio
credit_utilization_ratio_distribution = alt.Chart(subset_train).mark_bar().encode(
    x = alt.X("Credit_Utilization_Ratio").title("Credit Utilization Ratio").bin(),
   y = alt.Y("count()")
)
credit_utilization_ratio_distribution

In [ ]:
# sample visualization
training_plot = alt.Chart(subset_train).mark_bar().encode(
    x = alt.X("Credit_Score").title("Credit score"),
    y = alt.Y("Monthly_Inhand_Salary").title("Monthly Inhand Salary")
)
training_plot

### Methods

We plan to conduct our data analysis using the K Nearest Neighbors Classification algrorithm. We'll choose the best value of k using cross-validation and then use the following predictors to predict whether someone's Credit Score is Good, Standard or Poor.

Predictors:

- number of delayed payments 
- delay from due date 
- Credit_Utilization_Ratio
- credit mix
- credit history age


**Describing our visualizations**
We will plot histograms to visualize the distributions of our predictors. This will help us explore the relation between predicted credit score and the factors that may impact the credit score more than others like income, missed payments, credit utilization ratios.

### Expected outcomes and significance
- *What do you expect to find?* 
  
  People with more loans to be categorized in a ‘lower’ category. People with a bigger income, older credit account  age (more credit history) and fewer delayed payments to be in  a better category. Having a mix of credit types - loans/credit cards/mortgages also results in a better score.
  
- *What impact could such findings have?*
  - Helping banks predict whether it is a good idea to issue a new credit card to a new user
  - Can influence an individual’s credit limit/interest rate.
  - Studying the relation of individual factors with credit score category classification.
  
- *What future questions could this lead to?* 
  
  How do we evaluate or categorize a new person who has just started working and does not have a long enough credit history.